*{
    margin: 0;
    padding: 0;
}
body{
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 140px;
    background-color: #f1f1f1;
    box-sizing: border-box;
    font-family: sans-serif;
    /* text-align: center;
    justify-content: center; */
}
#container{
    width: 90%;
    margin: 20px auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    padding: 20px;
}
header {
    width: 90%;
    height: 120px;
    margin-left: 25px;
    margin-top: 5px;
    background-color: rgb(134, 133, 133);
    color: white;
    display: flex;
    flex-direction: column;   
    padding: 15px 30px;
    border: 1px solid rgb(228, 224, 221);
    border-radius: 10px;
}

.header-top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative;
}

#profile_photo {
    position: absolute;
    left: 15em;
}
#profile_photo img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
}

header h2 {
    margin-top: 10px;
    font-size: 28px;
    text-align: center;
    font-weight: bolder;
    text-shadow: rgba(0, 0, 0, 0.2);
}

#role{
    text-align: center;
    margin-top: 20px;
}

#social-links {
    margin-top: 20px;   
    text-align: center;
    justify-content: space-around;
}

#social-links a {
    margin: 0 10px;
    text-decoration: none;
}
#about{
    margin: 35px 30px;
}
#about p{
    font-weight:lighter;
    text-indent: 30px;
    text-align: justify;
}
#education{
    background-color: white;
    box-shadow: rgba(0, 0,0,0.2);
    margin-left: 25px;
    margin-bottom: 30px;
}
#edu-heading{
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
    color: rgb(67, 66, 66) ;
}
#edu-degree{
    box-sizing: border-box;
    flex: 1;
    min-width: 260px; 
    height: auto;
    margin-top: 10px;
    border-radius: 10px;
    padding: 16px; 
    flex-direction: column; 
    box-shadow: 0 4px 15px rgba(0,0,0,0.2) ;
}
#projets{
    background-color: white;
    box-shadow: rgba(0, 0,0,0.2);
    margin-left: 25px;
    margin-bottom: 10px;
}
#project-div{
    display: flex;
    margin: 10px 15px;
    gap: 50px;
}
#project-heading{
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
    color: rgb(67, 66, 66) ;
}
#first-project , #second-project{
    box-sizing: border-box;
    flex: 1;
    min-width: 260px; 
    height: auto;
    margin-top: 10px;
    border-radius: 10px;
    padding: 16px; 
    flex-direction: column; 
    box-shadow: 0 4px 15px rgba(0,0,0,0.2) ;
}
.project-title {
    margin: 0; 
    margin-bottom: 8px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(67, 66, 66) ;
}
#project-div li{
    list-style-type: none;
    padding: 8px;
    text-align: justify;
}